.main-section-header-container {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
  font-family: "Montserrat";
}
.main-section-header {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 106px;
  letter-spacing: 0.09em;
  padding: 0 100px 30px;
  color: #faf4fe;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
  /* transition: opacity 1000ms ease-in; */
}
.main-section-header-button {
  padding-left: 100px;
}
.main-section-header-button a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  background: #faf4fe;
  border-radius: 40px;
  color: var(--black);
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.09em;
}
.main-section-header-button a:hover {
  color: black;
  animation: mymove 2s;
  animation-fill-mode: forwards;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 0px;
    background-color: var(--light-purple);
    color: var(--white);
  }
}
.main-section-header-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 300px;
  gap: 400px;
}
.main-section-header-content {
  flex: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  color: #faf4fe;
}
.main-section-header-image {
  flex: 30%;
}

/* Mobile View */

@media (max-width: 450px) {
  .main-section-header-container {
    padding: 100px 0;
  }
  .main-section-header {
    font-size: 40px;
    line-height: 50px;
    padding: 0 30px 30px;
    color: #faf4fe;
  }
  .main-section-header-button {
    padding-left: 30px;
  }
  .main-section-header-button a {
    padding: 10px;
    background: #faf4fe;
    border-radius: 40px;
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.09em;
  }
  .main-section-header-description {
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 50px 20px;
    position: relative;
    /* gap: 400px; */
  }
  .main-section-header-content {
    /* order: 0; */
    font-size: 16px;
    line-height: 25px;

    color: #faf4fe;
    z-index: 99;
  }

  .main-section-header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
