.second-section-header {
  color: var(--white);
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* column-gap: 300px; */
  font-family: "Montserrat";
  font-style: SemiBold;
  font-size: 56px;
  line-height: 76px;
  padding-top: 100px;
}

/* second content */
.second-section-container {
  color: var(--white);
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-top: 100px;
}
.second-section-container-content {
  /* flex: 70%; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.second-section-second-container-second-content {
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  .second-section-header,
  .second-section-container {
    flex-direction: column;
  }
}
