.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 200px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 76px;
  color: var(--white);
}

/* Mobile View */

@media (max-width: 450px) {
    .about-content {
        font-size: 30px;
        line-height: 45px;
        padding: 0 20px;
    }
    
}
