:root {
  --black: #000000;
  --light-black: #232121;
  --grey: #C3C1C3;
  --purple: #3C0071;
  --light-purple: #902E8E;
  --light-white: #FAF4FE;
  --white: #ffffff;
  --font-family: 'Montserrat';
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
